.questions-title {
    font-weight: bold !important;
    color: #333 !important;
}
.center-dialog-title {
    h2.MuiTypography-root {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
