.send-box {

    form {
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .submit-layout {
        padding: 0 2rem 2rem 2rem;
        display: flex;
        align-items: self-end;
        justify-content: flex-end;
    }
}
